<%- include ('./utils/header.html'); %>
<%- include ('./utils/navbar.html'); %>

<div class="container-fluid d-flex flex-column">
	<div class="row flex-grow-1 justify-content-center background">
		<div class="col-lg-8 bg-dark ">
			<div class="index details vertical-center" style="padding: 2%;">
				<div>
					<h1 class="card-title">Collaborator Network</h1>
					<hr>
					<p class="card-text">
						Have you ever wondered how much scientific authors collaborate with each other? Further, which author likes to collaborate with which other authors or even institutions? 
					</p>
					<p class="card-text">
						This website helps you with exactly that, we can visualize an author with their connected collaborators weighted by the number of shared publications. You can even specify which type of graph embedding should be used for the visualization.
					</p>
					<div class="vertical-center">
					<div class="card-text col-lg-8 center" style="font-weight: 600; font-size: 1em;">
						<hr >
						Give it a try and search for your favourite author above!
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<%- include ('./utils/footer_small.html'); %>